# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/


# Datasets (Extremely Important to ignore as they are too large)
genres_original/

# Models (Including these as requested)
# EfficientNet_Model.h5
# EfficientNet_Model.keras
# EfficientNet_Model.weights.h5

# Audio / Temporary Files
temp_*
*.mp3
*.wav
*.wav.json

# Logs & Debug
*.txt
model_layers.txt
test_output.txt
classification_report.txt

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
